*.o
*.so
CaperGCC/caper
Pyrex/caper.cpp
cache
*_screed
*.pyc
makefile.deps
makefile.deps.bak
*.pureseq
*.seqlen
*.user
*.filters
*.suo
Caper/Debug/
CaperUI/Debug/
CaperVS/Debug/
zlib123/contrib/vstudio/vc8/x64/
zlib123/contrib/vstudio/vc8/x86/
zlib123/contrib/vstudio/vc8/gvmat32.*
